.clip-diamond {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.clip-hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.clip-parallelogram {
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
}

.react-flow__node {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.react-flow__node-default.selected {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}